inputColor = #ff5640

html
  height 95%

  body, #root
    height 100%

.header
  display inline-block
  text-align left
  margin-left auto
  margin-right auto
  font-family "Segoe UI"

  > p
    display inline
    margin-bottom 0
    margin-left 3px
    color #ff1818
    font-weight bold

  > h1
    font-size 50px
    margin-top 0
    line-height 30px
    
.container
  height 100%
  display flex
  flex-direction column
  background-color #ffffff
  justify-content center
  text-align center

input
  border-bottom 1px solid inputColor
  border-top 1px solid inputColor
  border-left 1px solid inputColor
  border-right 1px solid inputColor
  outline none